* {
    margin: 0;
    padding: 0;

}

html {
    background-color: #FBF9F3;
    color: #0E0D07;
}

body, .first, .contents {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #43BCE8;
    margin: 24px 0;
    font-size: 32px;
}

a, .third li {
    color: #0C0104;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    margin: 10px;
    width: 150px;
}
a:hover {
    color: #B3A3FF;
    margin-left: 8px;
    text-decoration: none;
    width: 150px;
}

#photos {
    padding: 0;
}

#photos li {
    display: inline-block;
    list-style: none;
}

.third ul {
    display: block;
    margin: 0 auto;
}

#target {
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: red;
}

#who {
    text-align: center;
    padding: 0;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
}

.slider {
    border-radius: 16px;
    background-color: #5FEFFF;
    width: 400px;
    height: 16px;
    display: block;
}

.thumb {
    width: 75px;
    display: block;
    height: 50px;
    position: relative;
    left: 10px;

    cursor: pointer;
}

.items {
    width: 70%;
    margin: auto;
    justify-content: center;
    gap: 10px;
    display: flex;
}

.basket {
    display: flex;
    margin: 0 auto;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.14);
    text-align: center;
    width: 100%;

    padding: 40px;
    height: auto;
    color: black;
}

#car {
    position: relative;
    cursor: pointer;
}

.cart {
    margin: 24px 0;
    background-image: linear-gradient(35deg, rgba(67, 188, 232, 0.25), rgba(181, 168, 246, 0.25));
    width: 750px;
    border-radius: 30px;
    color: black;
}

.items-block {
    text-align: center;
    margin: 0 auto;
}

.basket-to {
    text-align: center;
}

.run-area {
    position: relative;
    width: 40%;
    height: 100px;
    display: block;
    margin: 50px auto;
}

.run-area .mouse {
    position: relative;
    width: 20%;
    height: auto;
    margin-top: 20px;
}

.run-area .cheese {
    display: none;
    position: absolute;
    width: 10%;
    height: auto;
    margin-top: 30px;
    right: 10px;
    top: -200px;
}

#textExample {
    margin: auto;
    text-align: center;
}

button {
    text-align: center;
    margin: auto;
}


#contents {
    display: block;
    flex-direction: column;
    width: 100px;
}

.selected {
    background-color: #cce5ff;
}


/* Устанавливаем внешний вид бокса */
#box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: transform 1s ease-out;
    cursor: pointer;
}

/* Определяем класс "spin" для запуска анимации */
.spin {
    transform: rotate(360deg);
}